<div class="col-lg-2 col-md-2 col-sm-2 bg-primary sidebar mt-3" style="height:100vh;">
    <button class="mt-5 w-100 rounded py-1"><a href="/getproducts" style="text-decoration:none;color: black;" > Home </a></button>
    <button class="mt-4 w-100 rounded py-1"><a href="/addproduct" style="text-decoration:none;color: black;"> Add </a></button>
    <button class="mt-4 w-100 rounded py-1"><a href="/user" style="text-decoration:none;color: black;">User</a></button>
</div>